* {
	font-family: "Libre Baskerville";
	box-sizing: border-box;
	
}

body {
	background-color: #8F9879;
	padding: 20px;
}

main {
	border: 2px solid #556B30;	
	background-color: white;
	border-radius: 20px;
	width: 90%;
	max-width: 600px;
	padding-top: 50px;
	padding-bottom: 50px;
	padding-left: 30px;
	padding-right: 30px;
	margin: auto ;
	height: 650px;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	position: relative;
}


.start-quiz h1 {
	font-size: 40px;
	text-align: center;
	
}

.start-quiz p {
	word-wrap: break-word;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 20px;

}

#start-quiz-btn {

	background-color: #3e4d23;
	color: white;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border: none;
	border-radius: 5px;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 35px;
	padding-right: 35px;
	text-decoration: none;
	list-style: none;
	font-size: 16px;
	margin: 20px;
	cursor: pointer;
	font-weight: 600;
	float: right;
	display: none;
}

.start-quiz-btn:hover {
	background-color: #2b3518;
}

.btn {
	background-color: #556B30;
	color: white;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border: none;
	border-radius: 5px;
	padding: 15px;
	text-align: left;
	text-decoration: none;
	list-style: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	font-weight: 600;
	width: 100%;
	
}

.btn:hover:not([disabled]) {
	background-color:#3e4d23;
}

.btn:disabled{
	cursor: no-drop;
}

#next-btn {
	background-color: #3e4d23;
		color: white;
		box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		border: none;
		border-radius: 5px;
		padding-top: 15px;
		padding-bottom: 15px;
		padding-left: 35px;
		padding-right: 35px;
		text-decoration: none;
		list-style: none;
		font-size: 16px;
		margin: 20px;
		cursor: pointer;
		font-weight: 600;
		float: right;
		display: none;
}

#next-btn:hover {
	background-color: #2b3518;
}



.quiz {
	font-size: 20px;
}

.correct {
	background-color: #4dbb7a;
}

.incorrect {
	background-color: #f85959;
}

#timer{
	background-color: white;
	color: red;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	border-radius: 5px;
	border: none;
	font-size: 20px;
	cursor: pointer;
	font-weight: 600;
	position: absolute;
	left: 40px;
	bottom: 23px;
	
}